<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Authentication</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  {{#if success_msg}}
    <div class="alert success">{{success_msg}}</div>
  {{/if}}
  {{#if error_msg}}
    <div class="alert error">{{error_msg}}</div>
  {{/if}}
  {{#if error}}
    <div class="alert error">{{error}}</div>
  {{/if}}
  {{#if errors}}
    {{#each errors}}
      <div class="alert error">{{msg}}</div>
    {{/each}}
  {{/if}}
  {{{body}}}

  <script src="/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>